.main{
    position: relative;
    display: flex;
    height: 695px;
    width: 1536px;
    overflow: hidden;
}


.lb{
    width: 17%;
    border-right: solid 1px rgb(232, 232, 232);
   
}
.cb{
    width: 53%;
    border: none;
    overflow-x:hidden ;
}
.cb::-webkit-scrollbar {
  display: none;      
}
.rb{
    width: 32%;
  /*   background-color: rgb(242, 255, 0); */
}

.sodow{
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 70%;
  z-index: 1000;
  top: 0%;
}
.fol{
   position: absolute;
  height: 60%;
  width: 40%;
  background-color: rgb(255, 255, 255);
  opacity: 100%;
  z-index: 1003;
  top: 20%;
  right: 30%;
  border-radius: 20px;
  overflow-y:scroll ;
  overflow-x: hidden;
}

